.tooltip {
    position: relative;
    display: inline-block;
    overflow: visible;

    &-trigger {
        cursor: pointer;
        overflow: hidden;
        max-width: 320px;
        text-overflow: ellipsis;
        white-space: nowrap; 
        display: block;
    }

    &-content {
        visibility: visible;
        color: #fff;
        text-align: center;
        position: absolute;
        z-index: 5;
        bottom: -30px;
        left: 50%;
        opacity: 0;
        transition: opacity 0.3s;
        border-radius: 4px;
        padding: 3px 16px;
        height: 32px;
        background: var(--black-87);
        pointer-events: none;
    }
}

.tooltip:hover .tooltip-content  {
    visibility: visible; /* Show tooltip on hover */
    opacity: 1;
    pointer-events: auto;
}