:root {
    --content-width: 1170px;
    --container-offset: 15px;
    --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

    --font-family: "Nunito", sans-serif;
    --second-family: "Asap", sans-serif;

    --primary: #f4e041;
	--background: #f8f8f8;
	--black-87: rgba(0, 0, 0, 0.87);
	--secondary: #00bdd3;
}